
<div class="mb-3">
  <label for="username" class="form-label">Username *</label>
  <input readonly  type="text" class="form-control" id="username" value="<%= model.username %>" required/>
</div>
<div class="mb-3">
  <label for="password" class="form-label">Password *</label>
  <input readonly  type="password" class="form-control" id="password" value="<%= model.password %>" required/>
</div>
<div class="mb-3">
  <label for="email" class="form-label">Email *</label>
  <input readonly type="email" class="form-control" id="email" value="<%= model.email %>" required/>
</div>
<div class="mb-3">
  <label for="tel" class="form-label">Phone *</label>
  <input readonly  type="tel" class="form-control" id="tel" maxlength="10" value="<%= model.tel %>" required/>
</div> 
